h1 {
  margin-bottom: 0px;
}

td {
  width: 50%;
}

.center {
    margin: 0 auto;
    width: 50%;
}

.arvo {
  font-family: 'Arvo', serif;
}

.large {
  font-size: 86px;
}

.medium {
  font-size: 26px;
}

.small {
  font-size: 22px;
}

.bold {
  font-weight: bold;
}

.pad-top {
  padding-top: 25px;
}

.end-table-row {
  background-color: #F44336 !important;
}

#search-button {
    padding-top:10px;
}

#search-field {
  width: 280px;
}
